.navbar-brand {
    font-size: 40px;
}

#nav-instructions {
    font-size: 30px;
}

#score-tracker {
    font-size: 40px;
}

#nfl-logo {
    height: 100px;
}

nav {
    background-color: #013368;
    color: white;
}