.jumbotron {
    background-image: url("https://us.123rf.com/450wm/efks/efks1610/efks161000007/66830512-american-football-field-and-grass.jpg?ver=6");
    background-size: cover;
    font-family: 'Merriweather', serif;
}